*{
    padding: 0px;
    margin:0px;

}
.news-image{
    height: 150px;
    width: 398px;
    padding:0 1px 0 1px;
}
.news-date{
	width: 90px;
	height: 70px;
    margin-left: 3px;
}
.news-article{
	width: 300px;
	height: 70px;
}
.news-item{
	width: 400px;
	border: solid 0.5px black;
  margin: 0 1px 0 1px;
  display: inline-block;
  white-space: normal;
  position: relative;
  // transition
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
.flexme{
	display: flex;
	flex-direction: row;
}
#container{
  overflow-x: scroll;
  white-space: nowrap;
  height: 300px;
}
.wjs_btn_container{
text-align: center;
display: block;
}
.news-item-hidden{
  width: 0;
  height: 0;
  opacity: 0;
  margin: 0;
  padding: 0;
}
